/* GENERAL */


html,body{
    margin: 20px auto;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    width: 600px ;
}

.overlay{

     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

header{
    background-image: url("images/burgerBanner.png");
    height: 150px;
    background-repeat: no-repeat;
    padding: 1em;
    background-size: cover;
}





/* TYPOGRAPHICS */

h1,h3{
    color: white;
}

h4,p{
    margin: .4em 0;
}

H4{
    font-size: 1.2rem;
}




/*PRODUCTS CONTAINER ELEMENTS */



.products{
    
    width: 95%;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    border-bottom: 2px solid #D2D2D2;
    
}


.info{
    display: flex;
    flex-direction: row;
width: 50%;
gap: 1.5em;
}


.info-product{
    width: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
}


.emoji{
    font-size: 4rem;
}


.add-button{
 font-size: 1.6rem;
 width: 1.5em;
 height: 1.5em;
 font-weight: lighter;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 border-radius: 100%;
 border: 1px solid #e0e0e0;
 color: #3C3C3C;
 
 
 
}

#products-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: beige;
}


/* ORDER CONTAINER ELEMENTS */


.products,.order,.info-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
   
    
}
.order{
width: 95%;

justify-content: space-between;
}
#order-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0em 2em 0em;
    gap: 1em;
}
.info-order, .prices-list{

    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: .8em;
}






.info-price {
    
    width: 95%;
    border-top: 2px solid #393333;
    padding-top: .8em;
    flex-direction: column;

}

.info-price-general{

flex-direction: row ;
width: 100%;


}

.info-price-general{
    display: flex;
    justify-content: space-between;
}

.info-price{
    display: flex;
    gap: 2em;
}




.completeOrder-btn, #form-btn{

background-color: #16DB99;
border: none;
font-size: 16px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 1.2em 1em 1em 1.2em;


width: 100%;
box-sizing: border-box;
border-radius: .2em;
font-weight: bold;
 


}




.remove-button{
    background-color: transparent;
    border: none;
    color: #BBBBBB;
    text-align: center;
    
}



/* FORM CARD DETAILS */

.form-card{
    display: flex;
    flex-direction: column;
    gap: 3em;
}



.popUp-Card{
    background: white;
    border: 1px solid rgb(158, 158, 158);
    border-radius: .4em;
    padding: 1.6rem;
    box-sizing: border-box;
    height: 542.24px ;
    width: 524px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
  
}




::placeholder{
    color: #757575;
    font-size: 1rem;
    /* padding: .8em 1em .8em 1em; */
    
}

input{
    padding: 1.8em 1em 1em 1.8em;
    align-items: center;
    justify-content: center;
}


/* Message Order on way - Container */


.messageOrderOnWay{

    margin-top: 2em;

    background-color: #ECFDF5;
    width:95%;
    align-items: center;
    justify-content: center;
    padding: 2em 0em 2em 0em;
    text-align: center;
    display: none;
    
    margin: 2em auto;
}

.message-Order{
    color: #065F46;
}